/* Height */
.height {
    &-400 { height: 400px !important; }
      
    &-500 { height: 500px !important; }
      
    &-600 { height: 600px !important; }
      
    &-700 { height: 700px !important; }
      
    &-800 { height: 800px !important; }
}