/* Spacing */
.mt {
    &-15 { margin-top: 15px !important; }
      
    &-30 { margin-top: 30px !important; }
      
    &-50 { margin-top: 50px !important; }
      
    &-70 { margin-top: 70px !important; }
      
    &-100 { margin-top: 100px !important; }
}

.mb {
    &-15 { margin-bottom: 15px !important; }
      
    &-30 { margin-bottom: 30px !important; }
      
    &-50 { margin-bottom: 50px !important; }
      
    &-70 { margin-bottom: 70px !important; }
      
    &-100 { margin-bottom: 20px !important; }
}

.ml {
    &-15 { margin-left: 15px !important; }
      
    &-30 { margin-left: 30px !important; }
      
    &-50 { margin-left: 50px !important; }
}

.mr {
    &-15 { margin-right: 15px !important; }
      
    &-30 { margin-right: 30px !important; }
      
    &-50 { margin-right: 50px !important; }
}
  