/* Section Padding */
.section-padding {
    &-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
      
    &-100-0 {
        padding-top: 50px;
        padding-bottom: 0;
    }
      
    &-0-100 {
        padding-top: 0;
        padding-bottom: 100px;
    }
      
    &-100-70 {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}